// app global css in Sass form
@font-face
  font-family: "BMHANNA"
  src: local("BMHANNA"), url(/fonts/BMHANNA_11yrs_ttf.ttf) format("truetype")

  font-family: "NanumSquareRound"
  src: local("NanumSquareRound"), url(/fonts/NanumSquareRoundR.ttf) format("truetype")

  font-family: "NanumBarunGothic"
  src: local("NanumBarunGothic"), url(/fonts/NanumBarunGothic.ttf) format("truetype")
